# Application
PORT=3000
NODE_ENV=development
FRONTEND_URL=https://linguere.vercel.app/

# Base de données MySQL (XAMPP)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=linguere
DB_SSL_MODE=DISABLED
DB_SSL_REJECT_UNAUTHORIZED=false

# JWT
JWT_SECRET=.dev.null.203022.365992
JWT_EXPIRES_IN=1d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Linguere <no-reply@linguere.sn>"

# APIs externes
OPENWEATHER_API_KEY=
OPENWEATHER_CITY=Dakar
EXCHANGE_RATE_BASE_CURRENCY=XOF

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
FRONTEND_URL=http://localhost:5173

# Stripe (paiement de simulation / test)
STRIPE_SECRET_KEY=
STRIPE_CURRENCY=eur

# Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
